/node_modules
/public/css
/public/js
/public/images
/public/mix-manifest.json
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
package-lock.json
npm-debug.log
yarn-error.log

bootstrap/compiled.php
app/storage/
/.vagrant
.phpunit.result.cache
composer.lock
yarn.lock
supervisord.log
supervisord.pid
error.log
access.log
/.idea
